<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845125974911-bhdp6nejefpjbvui5lc9va64m4nmaph2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845125974911-bhdp6nejefpjbvui5lc9va64m4nmaph2</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ-iUd3WEADCp1vXC4k0QxaJwAP5a52tM</string>
	<key>GCM_SENDER_ID</key>
	<string>845125974911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.thilojaeggi.notely</string>
	<key>PROJECT_ID</key>
	<string>notely-ch</string>
	<key>STORAGE_BUCKET</key>
	<string>notely-ch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845125974911:ios:76de159134daa3760bb84a</string>
</dict>
</plist>